@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    line-height: 1;
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #f7f7f7;
    background: #000;
    overflow-y: scroll;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.inner {
    width: 1600px;
    margin: 0 auto;
}

.h_inner {
    width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px 10px;
    margin: 50px auto 0 auto;
}


.sec {

    h2 {
        padding: 0 0 20px 0;
        margin: 0 auto 20px auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
}

.itm {
    position: relative;

    .case {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        background: radial-gradient(transparent, #000);

        .desc {
            margin: auto 0 0 0;
            // min-height: 150px;
        }

        .genre {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            li {
                padding: 5px 10px;
                background: rgb(229, 9, 20);
                color: #f7f7f7;
                border-radius: 2px;
                font-size: 11px;
            }
        }

    }
}