    header {
        width: 1200px;
        margin: 0 auto;

        display: flex;
        line-height: 100px;
        justify-content: space-between;

        h1 {
            width: 150px;
            font-size: 0;
        }

        .right {
            display: flex;
            gap: 30px;

            .sel_box {
                position: relative;

                svg {
                    position: absolute;
                    top: 43%;
                    left: 10px;
                }

                select {
                    background: transparent;
                    padding: 7px 10px 7px 35px;
                    color: #fff;
                    border-radius: 5px;
                    font-size: 15px;

                    option {
                        color: #111;
                    }
                }
            }

            .login {
                a {
                    padding: 7px 15px;
                    border-radius: 5px;
                    background: #e50914;

                    &:hover {
                        background: #bd0710;
                    }
                }
            }
        }
    }

    .mainVisual {
        justify-content: center;
        color: rgb(255, 255, 255);
        text-align: center;


        .bg_img {
            position: absolute;
            inset: 0 0 0 0;
            z-index: -1;


            &::after {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                z-index: 999;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.8) 100%);
            }

            img {
                width: 100%;
                height: 700px;
                object-fit: cover;
            }
        }

        .text_box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            height: 500px;

            strong {
                display: block;
                font-size: 47px;
                letter-spacing: 0.04rem;
            }

            span {
                line-height: 1.5;
                font-size: 20px;
                letter-spacing: 0.04rem;
            }

            .start_btn {
                display: flex;
                gap: 10px;

                input {
                    background: rgba(0, 0, 0, 0.8);
                    padding: 15px 15px;
                    width: 400px;
                    outline: none;
                    border: 1px solid rgba(255, 255, 255, 0.4);
                    border-radius: 5px;
                    color: #f9f9f9;
                }

                a {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    padding: 7px 20px;
                    border-radius: 5px;
                    background: #e50914;
                    color: #f9f9f9;
                    font-size: 20px;
                    outline: none;
                    border: none;
                    line-height: 32px;

                    &:hover {
                        background: #bd0710;
                    }
                }
            }
        }

    }

    .mainTv {
        padding: 100px 0 100px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        border-image-slice: 1;

        .h_inner {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 100px;

            .left {
                h2 {
                    font-size: 48px;
                    margin: 0 0 20px 0;
                }

                p {
                    font-size: 21px;
                    line-height: 1.375;
                }
            }

            .right {
                position: relative;
                width: 100%;

                .re_video {
                    position: absolute;
                    inset: 0 0 0 0;
                    overflow: hidden;
                    border: none;
                    top: 96px;
                    left: 79px;
                    z-index: -1;
                }
            }
        }
    }

    .mainDevice {
        padding: 100px 0 100px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        border-image-slice: 1;

        .h_inner {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 100px;

            .left {
                position: relative;
                width: 100%;

                .re_video {
                    position: absolute;
                    inset: 0 0 0 0;
                    overflow: hidden;
                    border: none;
                    top: 50px;
                    left: 79px;
                    z-index: -1;
                }
            }

            .right {


                h2 {
                    font-size: 48px;
                    margin: 0 0 20px 0;
                    line-height: 1.2;
                }

                p {
                    font-size: 21px;
                    line-height: 1.375;
                }
            }
        }
    }

    .mainChildren {
        padding: 100px 0 100px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        border-image-slice: 1;

        .h_inner {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .left {
                h2 {
                    font-size: 48px;
                    margin: 0 0 20px 0;
                    line-height: 1.2;
                }

                p {
                    font-size: 21px;
                    line-height: 1.375;
                }
            }
        }
    }

    .mainContent {
        padding: 100px 0 100px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
        border-image-slice: 1;

        .h_inner {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .left {
                position: relative;

                .left_save {
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    width: 300px;
                    height: 100px;
                    transform: translate(-50%, 0);
                    display: flex;
                    background: #000;
                    border: 2px solid #111;
                    border-radius: 30px;

                    .poster {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 10px 0 25px;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 60px 0 0;

                        strong {
                            font-weight: 400;
                            margin: 0 0 5px 0;
                        }

                        span {
                            color: #0071eb;
                            font-size: 15px;
                        }
                    }

                    .download {
                        width: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                    }
                }
            }

            .right {
                h2 {
                    font-size: 45px;
                    margin: 0 0 20px 0;
                    line-height: 1.2;
                }

                p {
                    font-size: 21px;
                    line-height: 1.375;
                }
            }
        }
    }