.Load {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #111;
    color: rgba(255, 255, 255, 0.5);
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.title {
    font-weight: 700;
    font-size: 20px;
}

.Header {
    line-height: 100px;

    h1 {
        width: 150px;
        font-size: 0;
    }

    .flex {
        gap: 30px;
    }
}


.Main {
    position: relative;

    .arrows i {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        padding: 20px;
        background: rgba(0, 0, 0, 0.3);
        font-size: 30px;
        color: #f7f7f7;

        &:first-child {
            left: 0;
        }

        &:last-child {
            right: 0;
        }
    }

    .desc {
        min-height: 150px;
    }

}

.All {

    width: 1600px;
    margin: 0 auto;

    .btn {
        display: flex;
        justify-content: center;
        gap: 30px;

        line-height: 100px;


        button {
            background: transparent;
            border: none;
            outline: none;
            color: #f7f7f7;
            margin: 0 3px;
        }
    }
}

.Detail {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .flex {
        width: 800px;
        position: relative;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: rgb(229, 9, 20);
        color: #fff;
        font-size: 30px;
        outline: none;
        border: none;
    }

    .flex>div {
        flex: 1;
    }

    &.on {
        display: none;
    }

    .desc {

        padding: 50px;
        background: #111;
        display: flex;
        flex-direction: column;

        h3 {
            margin: 0 0 20px 0;
            font-size: 28px;
        }

        p {
            font-size: 15px;
            line-height: 1.2;


        }

        ul {
            display: flex;
            gap: 10px;
            margin: auto 0 20px 0;
        }
    }
}

.Search {
    form {
        input {
            width: 70%;
            background: transparent;
            border: 0;
            border-radius: 20px;
            padding: 5px 10px;
            background: rgba(255, 255, 255, 0.2);
            outline: none;
            color: #f9f9f9;
            margin: 0 5px 0 0;
        }

        button {
            outline: none;
            border: none;
            background: transparent;
            color: #f9f9f9;
            font-size: 20px;
            vertical-align: middle;
        }
    }
}